@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
:root {
    /* colors */
    --color-verderis: #3AA39F;
    --color-mikado-yellow: #FFC41F;
    --color-imperial-red: #E14B4B;
    --color-space-cadet: #17183B;
    --color-cool-gray: #A2A3B1;
    --color-french-gray: #D1D1D8;
    --color-white: #FFFFFF;
}
html {
    font-size: 62.5%;

}
ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}
body {
    font-family: 'Poppins',sans-serif;
    /* letter-spacing:.36px; */
    font-size: 1.6rem;
    min-height: 100vh;
    min-width: 100vw;
    color: var(--color-space-cadet);
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 81px;
    width: 100%;
    border-bottom: 1px solid var(--color-cool-gray);
    padding-left: 40px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}
.burger {
    border: none;
    height: 24px;
    background-color: transparent;
}

.nav-link {
    color: var(--color-space-cadet);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
}
.nav-link:hover {
    color: var(--color-verderis);
}
.icon-link {
    width: 170px;
    height: 81px;
    display: flex;
}
.icon-link img,
.logo-cozy {
    cursor: pointer;
}
.menu-search {
    width: 70px;
    height: 81px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(5px);
}
.menu {
    display: none;
}
.shop {
    width: 100px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--color-cool-gray);
}
.main-content {
    display: flex;
    padding-left: 60px;
    margin-top: 40px;
    justify-content: space-between;
}
.arrow {
    margin-bottom: 30px;
}
.sub-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 65px;
}
span {
    color: var(--color-cool-gray);
}
.info {
    width: 540px;
}
.main-title {
    font-size: 4.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.price-rate {
    display: flex;
    width: 459px;
    justify-content: space-between;
    margin-bottom: 48px;
}
.rating {
    display: flex;
    width: 250px;
    gap: 10px;
    align-items: center;
}
.colors {
    
    width: 132px;
    height: 28px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 32px 0;
}
.color {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.active-color,
.color:hover {
    border: 3px solid var(--color-french-gray);
}
#marron {
    background-color: #C1BDB3;
}
#vert {
    background-color: #58737D;

}
#block {
    background-color: #545454;

}
#rose {
    background-color: #CBA5A5;

}
.add,
.box-qty {
    width: 174px;
    height: 52px;
    border-radius: 4px;

}
.add {
    cursor: pointer;
    font-family: inherit;
    color: var(--color-white);
    background-color: var(--color-verderis);
    border: none;
}
.qty {
    display: flex;
    justify-content: space-between;
    width: 370px;
    margin-bottom: 32px;
}
.box-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border: 1px solid var(--color-cool-gray);
}
.box-qty button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    font-size: 2.4rem;
    font-weight: 600;
    transform: translateY(-30%);
}
#moins {
    transform: translateY(-5px);
}
.box-qty p {
    font-size: 2.2rem;
    font-weight: 600;
}
.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 438px;
    margin-top: 30px;
}
.favorite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    color: var(--color-verderis);
}
.btn-heart {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
}
.heart {
    width: 24px;
    height: 24px;
}
.icon-soc {
    margin: 0 10px;
}
.chair {
    width: 845px;
    text-align: right;
}
.dis-num {
    margin-top: 5px;
    margin-right: 70px;
    margin-bottom: 15px;
}
.dis-num p{
    font-size: 2.6rem;
    font-weight: 800;
}
.dis-num p span {
    font-weight: normal;
    font-size: 2.2rem;
}
.full-img-container {
    width: 100%;
    height: 470px;
    z-index: 0;
}
.full-img-container::after {
    content: '';
    display: block;
    width: 375px;
    height: 200px;
    background-image: linear-gradient(to right, transparent, var(--color-verderis)) ;
    opacity: 0.1;
    position: absolute;
    top: 290px;
    right: 0;
    z-index: -1;
}
.box-btn {
    position: absolute;
    right: 40px;
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-btn button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: fit-content;
}
.vignettes-container {
    position: relative;
    width: 616px;
    margin: 10px 60px;

}
.vignettes {
    display: flex;
    justify-content: space-between;
    height: 104px;
    /* margin-right: 80px; */
}
.vignette {
    padding: 5px;
    width: 100px;
    height: 100px;
    border: 2px solid var(--color-cool-gray);
    border-radius: 4px;
}
.vignette img {
    cursor: pointer;
}
.img-active {
    border: 2px solid var(--color-verderis);
}
.social {
    display: flex;
    gap: 10px;
}

#full {
    right: 200px;
    position: absolute;
    height: 390px;
    transform: scaleX(-1);
}
@media (max-width: 1285px) {
    .main-content {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .full-img-container::after {
        top: 995px;
    }
    .chair {
        width: auto;
    }
    .main-nav {
        justify-content: space-evenly;
    }
    .logo-cozy {
        font-size: 2.0rem;
    }
    .head {
        padding: 0;
    }
    .descriptif {
        padding: 0 100px 10px;
    }
}

@media (max-width: 890px) {
    .head {
        height: auto;
        align-items: flex-start;
    }
    .icon-link {
        position: absolute;
        height: 60px;
        right: 0;
    }
    .logo-cozy {
        margin: 20px;
    }
    .nav-list {
        margin-top: 60px;
        flex-direction: column;
        display: none;
    }
    .afficher {
        display: flex;
    }
    .shop {
        border: none;
    }
    .menu-search {
        width: 100px;
    }
    .menu {
        display: block;
    }
    .main-nav {
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 40px;
    }
    .main-content {
        padding: 0;
    }
    .full-img-container::after {
        background-image: none;
    }
}